[DEFAULT]
user = root

[routing:primary]
bind_address = 0.0.0.0
bind_port = 6446
destinations = mysql-master:3306

[routing:replica]
bind_address = 0.0.0.0
bind_port = 6447
destinations = mysql-replica1:3306,mysql-replica2:3306
routing_strategy = first-available
